*{
    padding: 0;
    margin: 0;
}
header{
    background-color: #c6e9e2;
}
.container{
    max-width: 1200px;
    margin: auto;
}
.header-head{
    display: flex;
    padding: 10px;
}
.header-head a i{
    color:white;
    font-size:20px;
    padding-left: 20px;
}
.header-search{
   
    margin-left: 10px;
    display: flex;
    padding: 1px;
    width: 80%;
    background-color: #b3d8d1;
    border-radius: 5px;
}
.header-search input{
    width: 97%;
    border:none;
    background: none;
    padding-left: 5px;
}
.header-search a i{
    color:white;
    font-size:17px;
    padding:2px 5px;
}
.body-container{
    display: flex;
    flex:1;
}
.navbar-nav{
width: 15%;
}
.navbar-brand{
    display: flex;
    width: 90%;
    margin-left: 5px;
    padding-top: 15px;
}
.navbar-brand h1{
    padding-left:15px;
}
.empty{
    width: 12px;
    height: 12px;
    margin-top: 30px;
    margin-left: 1px;
    border-radius: 50px;
    border:1px solid #f8ba00;
    background-color: #f8ba00;
}
.navbar-a{
    letter-spacing: 2px;
    margin-left: 20px;
    margin-top: -21px;
}
.navbar-items{
    padding-top:30px;
    padding: 10px;
}
.navbar-list{
    padding:10px;
    list-style-type: none;
}
.navbar-btn1{
    background-color:#f8b510; 
    color: #fff;
    margin-top: 20px;
    margin-left: 12px;
    border: none;
    padding: 10px;
    width: 80%;
}.navbar-icon{
margin-top: 20px;
}
.navbar-btn2{
    background-color: black;
    color: #fff;
    margin-top: 20px;
    margin-left: 12px;
    border: none;
    padding: 10px;
    width: 80%;
}

.navbar-icon-list{
    padding-top: 5px;
    padding-left: 10px;
}
.navbar-icon-list a{
    padding-left: 5px;
}
.navbar-social{
    display: flex;
    padding-left: 10px;
    padding-top: 25px;
}
.navbar-social a{
    padding: 10px;
}
.label{
    position: absolute;
    top:7%;
    padding: 10px;
    color:blue;
}
.label2{
    position: absolute;
    top:76%;
    padding: 10px;
    color:blue;
}
