body{
    font-family: 'Lato', sans-serif;   
    padding: 1rem; 
}

.title-col{
    padding: .2rem;
}
.title-label{
    color: #695f5f;
}
.banner-row{
    text-align: center;
}
.banner-col{
    display: flex;
}
.input-search{
    display: flex;
    border: 1px solid #808080;
}
.btn-search{
    background-color: #cc2d2d;
    border: none;
    color: #fff;
    padding: .5rem;
}
.input-search input {
    height: 10px;
    margin: auto;
    border: none;
    border-right: 1px solid #695f5f;
}
.dd-all-cat {
    border: 0;
}
.banner-social-icon{
    display: flex;
    justify-content: center;
    padding: 7px;
    
}
.banner-social-icon a {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #695f5f;
    border: 1px solid #695f5f;
   margin-left: .5rem;
}
.nav-row, .bg-black{
    background-color: black;
}
.nav-list{
    font-size: 0.5rem;
    padding: 0.17rem;
}
.nav-row a{
   color: white;
   text-decoration: none;
   /* font-size: .5rem; */
   padding-right: .3rem;
}
a {
    text-decoration: none;
}
.nav-cart{
    background-color: #cc2d2d;
    height: 26px;
}
.nav-cart a{
        font-size: .7rem;
    }
.frame-row{
    position: relative;
}
.frame-bg, .bg-categories{
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index:1;
    background-color:rgba(0,0,0,0.7);
}
.frame-text{
    position: absolute;
    width: 100%;
    top: 50%;
    z-index:1;  
    transform: translateY(-50%);
}
.frame-left-arrow{
    position: absolute;
    color: #fff;
    top: 0;
 }
 .frame-span{
   text-align: center;
   width: 100%;
   color: #fff;
}
.frame-label{
    font-size: .8rem;
}
.frame-right-arrow{
    margin-left: auto;
    position: absolute;
    color: #fff;
    top: 0;
    right: 0;
} 

.variety-list-row{
    display: flex;
    justify-content: flex-end;
}
.variety-list-row label,.variety-item {   
    padding: 3px 2px;
    color: rgb(110, 106, 106);
    font-size: .5rem;
    font-weight: 600;
}
.variety-item  a{
    padding: .32rem;
    color: rgb(110, 106, 106);
}
.image{
    position: relative;
    margin: 15px 0;
}
.image img{
    width: 100%;
    height: 100%;
}
.img-text{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    font-size: 16px;
    text-align: center;
}
.img-text h3{
    margin: 20px 0;
    color:white;
   
}
.img-frame-btn{
    padding: 10px;
    background-color: rgb(204, 45, 45);
    color: #fff;
    border: none;
   
}
.promo-frame-btn{
    padding: 10px 40px;
    background-color: rgb(204, 45, 45);
    color: #fff;
    border: none;
}
.poster-title{
    display: flex;
    margin: 40px 0 25px 0;
    gap:5px;
}
.poster-label{
    padding-bottom: 5px;
    width: 27%;
    font-size: .8rem;
    border-bottom: 2px solid #a7a4a4;
}
.blog-label{
    padding-bottom: 5px;
    width: 35%;
    font-size: .8rem;
    border-bottom: 2px solid #a7a4a4;
}
.poster-items{
    color: rgb(110, 106, 106);
}
.poster-icon{
    margin-left: auto;
    font-size: 20px;
    color: #d2d0d0;
}   
.promo-row{
    gap: 30px;
    margin-top: 10px;
}
.promo-image{
    position: relative;
}
.promo-image img{
    width: 100%;
   
}
.modal-row{
    margin: 20px 0;
    display: flex;
    position: relative;
    gap:30px;
}
.sale-img{
    position: relative;
    width: 50%;
}
.new-img{
    position: relative;
    margin-bottom: 10px;
}
.new-modal-img{
    width: 50%;
}
.figure-modal-img{
    width: 100%;
}
.sale-img img{
    width: 100%;
}
.new-img img{
    width: 100%;
}

.promo-text{
    position: absolute;
    font-size: 20px;
    color: white;
    left: 47%;
    font-size: 22px;
}
.sale{
    padding: 5px;
    position: absolute;
    top: 9px;
    right: 0;
    background: #85ee85;
    color: #fff;
    font-size: .5rem;
}
.new{
    padding: 5px;
    position: absolute;
    top: 9px;
    right: 0;
    background: hsl(189, 54%, 46%);
    color: #fff;
    font-size: .5rem;
}
.modal-text{
    padding: 10px 0;
    font-size: .8rem;
    color: #7c7b7b;
    border-bottom: 1px solid rgb(204, 199, 199);
}
.rating-row{
    display: flex;  
    font-size: .8rem;
    margin-top: 10px;
}
.stars-row{
    display: flex;
}
.stars-color{
    color: yellow;
}
.ratio-row{
    display: flex;
    
}
.rating-btn{
    padding: 5px;
    margin-left: auto;
    background-color: #cc2d2d;
    color: #fff;
    border: none;
    cursor: pointer;
}
.mr-top{
    margin-top: 10px;
}
.modal-row-list{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    position: relative;
    gap:4%;
}
.modal-col{
    width: 48%;
}
.modal-row-para{
    margin: 25px 0;
    position: relative;
    gap:15px;
}
.modal-title{
    color: #7c7b7b;
    font-size: .6rem;
    margin-top: 5px;
}
.modal-wrapper p{
    margin-top: 10px;
    font-size:.6rem;
    color: #9e9999;
}
.para-img{
    width: 100%;
    position: relative;
    margin-top: 10px;
}
.para-img img{
    width: 100%;
}
.model-calendar{
    position: relative;
    text-align: center;
    color: #fff;
}
.calender{
    padding: 0px 10px;
    position: absolute;
    bottom: 4px;
    background: #cc2d2d;
    font-size: .8rem;
}
.calender label{
    font-size: 1rem;
}
.main-footer{
    border-top:1px solid rgb(204, 199, 199);
    border-bottom:1px solid rgb(204, 199, 199);
}
.banner-section p{
    text-align: justify;
    margin: 10px;
    font-size:.7rem;
    color: #9e9999;
    
}
.footer-img{
    text-align: center;
}
.query-section{
    margin: 10px;
    }
    .col{
        width: 33.33%;
    }
    .custom-title{
        margin: 20px 0;
        font-size: .5rem;
        font-weight: 700;
    }
    .custom-title h6{
        font-size: .55rem;
    }
    .feedback-row{
        gap:10px;
        margin: 20px 10px;
    }
    .feedback-row h6{
        padding-bottom: 10px;
        align-self: center;
        font-size: .6rem;
    }
    .feedback-input{
        display: flex;
        margin-left: auto;
    }
    .feedback-input input{
        background: #f5f1f1;
        border: none;
        padding: 12px;
    }
    .feedback-btn{
        background: #cc2d2d;
        border: none;
        color: #fff;
        padding: 5px
    }
    .custom-row{
       display: flex;
       margin: 10px;
    }
    .store-information{
        margin-top: 5px;
        padding: 5px 0;
        margin-right: 5px;
        color:black;
    }
    
    .store-list{
        display: flex;
        padding: .2rem;
    }
   
    .information-list a{
        padding: 5px 0;
        margin-right: 5px;
        display: block;
        color: #808080;
        font-size: .5rem;
    }
    .information-list i{
        margin-right: .5rem;
    }
    .store-label{
        font-size: .5rem;
        color: #808080;
        margin-left: 13px;
    }
    .email-label{
        font-size: .5rem;
        color: #808080;
        margin-left: 9px;
    }
    .copy-rights{
        text-align: center;
        margin: 30px;
        color: #808080;
        font-size: .8rem;
    }
