*{
    padding: 0;
    margin: 0;
}
  @media (min-width:576px) {
    .container{
        max-width: 550px;
        margin: auto;
    }
    .title-row{
        padding: 10px;
        display: flex;
        border-bottom:1px solid rgb(204, 199, 199);
    }
    .title-col{
        flex:1;
        border-right: 1px solid grey;
    }
   .border{
    border: none;
   }
    .title-icon{
        padding: 5px;
    }
    .title-label{
        font-size: .5rem;
        font-weight: 600;
    }
    .banner-row{
        display: flex;
    }
    .banner-img{
        flex: 0;
    width: 39%;
    }
    .banner-col {
        display: flex;
        margin: auto;
        flex: 1;
        width: 40%;
    }
    .input-search {
        display: flex;
        position: relative;
        border: none;
        border: 1px solid #695f5f;
    }
    .input-search input {
        border: none;
        border-right: 1px solid #695f5f;
        flex: 0 0 50%;
        width: 0%;
    }
    .dd-all-cat {
        border: 0;
        font-size: .59rem;
        color:#7c7b7b;
    }
    .banner-social-icon {
        display: flex;
        margin: auto;
        justify-content: center;
        flex: 0;
        width: 22%;
        margin-left: 5px;
    }
    .banner-social-icon a {
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        border-radius: 50%;
        color: #695f5f;
        border: 1px solid #695f5f;
        align-items: center;
        margin-left: 0;
    }
    .btn-search {
        padding: 0.75rem 1rem;
        background-color: #cc2d2d;
        border: none;
        color: #fff;
    }
    .banner{
        display: flex;
        border: 1px solid grey;
        color: #695f5f;
        font-size: 0.8rem;
    }
    .nav-row{
        display: flex;
        align-items: center;
    }
    .nav-row a{
        padding: 8px 9px;
        font-size: .6rem;
        font-weight: 600;
        position: relative;
    }
    .nav-home::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: rgb(204, 45, 45);
        top: 100%;
        left: 0;
    }
    .nav-cart
    {
        padding: 10px;
        display: flex;
        margin-left: auto;
    }
    
    .nav-cart i{
        padding-right: .5rem;
    }
    .frame-left-arrow{
        font-size: 40px;
    }
    .frame-right-arrow{
        font-size: 40px;
    }
    .frame-span{
        font-size: 15px;
    }
    .variety-list-row{
        display: flex;
        justify-content: flex-end;
    }
    .variety-list-row label,.variety-item {   
        padding: 20px 2px;
        color: rgb(110, 106, 106);
        font-size: .5rem;
        font-weight: 600;
    }
    .variety-item  a{
        padding: .32rem;
        color: rgb(110, 106, 106);
    }
    .frame-span{
        font-size: 18px;
    }
    .modal-row-para{
        display: flex;
    }
    .feedback-row{
        display: flex;
    }
}  
  @media (min-width:768px) {
    .container{
        max-width: 720px;
        margin: auto;
    }
    .title-label{
        font-size: .7rem;
    }
    .title-row{
        font-size: .7rem;
    }
    .banner-label{
        font-size: 0.8rem;
    }
    .modal-col{
        width: 22%;
        margin: 20px 0;
    }
   
    .nav-cart
    {
        font-size: .8rem;
    }
    .nav-row a{
        padding: 8px 20px;
    }
    .banner-img{
        flex: 0;
    }
    
    .banner-col{
        height: 36px;
        margin-right: .5rem;
        
    }
    .input-search{
        padding: 0.5rem;
        width: 80%;
        margin-left: 5px;
    }
    .input-search input{
        border: none;
        border-right: 1px solid #695f5f;
        flex: 0 0 50%;
    }
    .dd-all-cat {
        margin: auto;
        font-size: .8rem;
     }
    
     .banner-social-icon a{
         width: 30px;
         height: 30px;
     }
     .nav-row a{
         font-size: .7rem;
     }
    .image-frame{
        display: flex;
        gap:20px;
    }
    .image{
    position: relative;
    width: 33.3333%;
    }
    .promo-row{
        display: flex;
      
    }
    .promo-image{
        width: 50%;
    }
    .promo-image img{
        width: 100%;  
    }
    .modal-row{
        width: 50%;
        margin: 0;
    }
    .variety-list-row label, .variety-item{
        font-size: .7rem;
    }
    .mr-zero :last-child{
        margin-right: 0;
      }

    .rating-btn{
        padding: 0.3rem 0.5rem;
    }
   .para-img{
      flex: 1;
       position: relative;
   }
   .main-footer{
    display: flex;
    gap: 30px;
}
.banner-section{
    width: 30%;
}
.custom-col{
    width: 28%;
}
.store-col{
    width: 35%;
}
.query-section{
    align-self: center;
    margin: 20px 10px;
}
.feedback-row label{
    font-size: .7rem;
}
.col{
    font-size: .8rem;
}
.custom-row{
    gap:10px;
    border-top:1px solid #a7a4a4;
}
}
@media (min-width:992px) {
    .container{
       max-width: 960px;
       margin: auto;
    }
    .variety-list-row label, .variety-item{
        margin-right: 1rem;
    }
    .banner-social-icon a{
        margin-right: 10px;
    }
}
@media (min-width:1200px) {
    .container{
            max-width: 960px;
            margin: auto;
    }
}