*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    color: brown;
}
.container{
    width: 100px;
    height: 100px;
    background-color: coral;
    transition: 1s;
    animation: coral;
    animation-duration: 1s;
     animation-iteration-count: 3;
     animation-direction: alternate;
    animation-timing-function: linear; 
    animation:coral 1s linear infinity; 

}
.box{
    width: 100px;
    height: 100px;
    background-color: rgb(33, 111, 189);
    transition: 1s;
    animation: box;
    animation-duration: 1s;
    animation-iteration-count: 5;
    animation-direction: alternate;
    animation-timing-function: linear; 
    animation:box 1s linear infinity; 
}
@keyframes box{
    from{
        transform: translateX(-200px) translateY(-200px);
    }
    to{
        transform: translateX(200px)  translateY(200px);
    }
}
@keyframes coral{
    

    25%{
        transform: translateX(300px) rotateZ(-360deg);
    }
    50%{
        transform: translateY(300px) rotateZ(360deg);
    }
    75%{
        transform: translateX(-300px) rotateZ(-360deg);
    }
    100%{
        transform: translateY(-300px) rotateZ(360deg);
    }
  
}