*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
.top-text{
    font-size: 11px;
    padding: 10px;
    margin-right: 58.7%;
}
.dropdown-text{
    padding: 0;
    font-size: 10px;
}
.title-text{
    padding: 10px;
}
.title-text h4{
    font-size: 17px;
    font-weight: 900;
}
.title-text nav{
    font-size: 13px;
    font-weight: 600;
    text-align: center;
}
.shopping-cart{
    margin-top: 5px;
    width: 30px;
    height: 30px;
    background-color: rgba(124, 120, 120,0.1);
}
.ml{
    margin-left: -6%;
    margin-top: 44px;
    font-size: 10px;
}
.banner-text{
    position: absolute;
    width: 30%;
    top: 19%;
    left: 10%;
    z-index: 1;
}
.btn-input{
    margin-top: 20px;
}
.img-card{
    padding: 10px;
    font-weight: bolder;
    font-size: 18px;
    position: absolute;
    width: 150px;
    text-align: center;
    background-color: white;
    transform: translate(110px,-175px);
}
   
    