*{
    padding: 0;
    margin: 0;
}
.page-container{
    padding: 2rem 1rem;
}
.left-nav{
    background-color: rgba(5, 163, 66, 0.6);
}
.para-text{
    font-size: 14px;
}
.span-text{
     padding: 5px;
     width: 30px;
     height: 30px;
     border: 1px solid white;
     font-size: 12px;
}
.contact-label{
    margin-left: 10px;
    font-size: 14px;
}
.btn-bg{
    background-color: rgba(5, 163, 66, 0.6);
}
