
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Lato', sans-serif;   
}
a{
    text-decoration: none;
    
}
a i{
    color: black;
}
li{
   list-style-type: none;
}
div{
    font-size: .8rem;
   
}
label{
margin-right: .8rem;
margin-left: .2rem;
color:#313030;
}
input{
    border: none;
  
}
li{
    list-style-type: none;
}
button{
    border: none;
}
button i{
    color: white;
}
.icon-badge{
    position: absolute;
    top: 8px;
    right: 12px;
    color: white;
    
}

.banner-text{
    position: absolute;
    width: 30%;
    top: 50%;
    z-index: 1;
    transform: translate(50%,-50%);
}

.menu-list{
    padding-left: 1rem;
    padding-right: 1rem;
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding-left: 1rem ;
    padding-right: 1rem;
}