/* Universal Selector */
*{
    margin: 0;
    padding: 0;
   
}
.mainContainer{
    margin: 10px;
    padding: 10px;

}
.imgsection{
    width: 7%; 
    float: left;
    margin: 5px;

}
img{
    width: 100%;
     }
/* ID Selector */
.header_container{
    color:crimson;
    float: left;
    padding: 20px;
    }
    .sectionList{
    width: 100%;
    }
    nav{
        background-color: yellowgreen;
        padding: 10px;
        margin: 10px;
    }
 
    a{
        padding: 10px;
        font-size: 20px;
    }
    a:hover{
        background-color: white;
        cursor: pointer;
    }
    a:active{
        color: darkgreen;
    }
    .clearleft{
        clear: left;
    }
    .clearfix::after,clearfix::before{
        content: '';
        display: block;
        clear: both;
    }
    .majorContainer{
        
        background: rgb(207, 204, 204);
        margin: 10px;
    }
   .contentContainer{
       width: 69%;
       float: left;
       padding: 11px;
       margin: 5px;
       background-color: white;
   }
   .articleContainer{
    margin: 5px;
    width: 25%;
    float: left;
    padding: 11px;
    background-color: white;

   }
     .contentContainer .section_header{

       text-align: center;
       font-family: "Roboto", sans-serif;
       font-weight: 600;
   }
     .section_header{
       border:2px solid black;
       padding: 20px;
       border-bottom-left-radius:35px;
       border-top-right-radius:35px
        }
        p{
            /* font-size: 20px; */
            padding: 10px;
        }
        section article{
          margin: 5px;
          padding: 5px;
        }
        .article-section{
            /* font-family: "Roboto", sans-serif;
            font-weight: 600; */
        }
         h3{
            text-align: center;
            padding: 10px;
            color: blue;
        }
        .leftArticle{
            padding: 10px;
            margin:5px;
            border:2px solid black;
            border-bottom-left-radius:35px;
            border-top-right-radius:35px ;
    
        }
        .leftArticle:hover{
            color: red;
            cursor: pointer;
        }
        div h3{
            color:blue;
        }
    
        table{
            border-collapse: collapse; 
        }
        th{
            width: 31%;
            border:1px solid black;
            padding: 5px;
            background-color: aqua;
            font-size: 18px;
        }
        tbody{
            width: 31%;
            text-align: center;
                        }
        tr td{
            border:1px solid black;
            padding: 10px;
        
        }

        .table tr td{
        padding: 15px;
        
        }  
        .bgcolor1{
            background-color: tomato;
        }
        .bgcolor2{
            background-color: wheat;
        }
        .bgcolor3{
            background-color: skyblue;
        }
        .bgcolor4{
            background-color: cornflowerblue;
        }
        strong{
            padding: 10px;
            display: block;
        }
        mark{
            background-color: violet;
            
        }
        del{
            color: red;
        }
     