*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Print Clearly'; */
    /* font-family: 'Times New Roman', Times, serif; */
}
body{
    /* font-family: 'Roboto', sans-serif; */
    font-family: heebo, sans-serif;

}
.clearfix::before, .clearfix::after {
    content: "";
    display: block;
    clear: both;
}
@font-face {
    font-family: 'Zenzai Itachi';
    src: url('./font/Zenzai\ Itachi.ttf') format('woff2'),
        url('./font/Zenzai\ Itachi.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/* @font-face {
    font-family: 'MontereyMediumFLF';
    src: url('./font/MontereyMediumFLF.ttf') format('woff2'),
        url('/font/MontereyMediumFLF.ttf') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
} */
/* @font-face {
    font-family: 'MontereyFLF';
    src: url('./font/MontereyMediumFLF.ttf') format('woff2'),
        url('./font/MontereyMediumFLF.ttf') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
} */
@font-face {
    font-family: 'Print Clearly';
    src: url('./font/print_clearly_tt.ttf') format('woff2'),
        url('./font/print_clearly_tt.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
main{ 
    margin: 10px;
    padding: 10px;
}
h5{
    display: inline;
    margin-left:40px;
}
.main-heading-container{
     background-image: linear-gradient(to right, red , yellow);
     color: white;
     padding: 5px;
     max-width: 960px;
     margin: auto;
    
}
.main-div-heading-container{
    padding-left: 10px;
    margin-left:10px;
}
.main-div-heading-container a{
    margin: 3px;
    margin-left: 10px;
    border-right:1px solid red;
    font-size: small;
    padding-right: 5px;
    float: left;
}
div button{
    width: 9%;
    color:white;
    background-color: #00b773;
    border-radius: 5px;
    border:1px solid #00b773;
    padding: 3px;
    margin-left:1%
}
.section-header{
    max-width: 960px;
    margin: auto;
}
.business-container {
    float: left;    
}
.heading-container div h1{
        color:#62bde1;   
        padding: 10px;     
        margin-left:95%;
}
.free-container{
 width: 65px;
 top:65px;
 position: absolute;
 left: 36%;
}
.free{
    background-color: yellow;
}
.helpline-container{
    /* float: left; */
    text-align: right;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       
}
.helpline-container a{
    margin-top: 5px;
    padding: 5px;
    display: inline-block;
}
/* .helpline-container div p{
    text-align: right;
} */

.fa-phone{
    color:#6ec0c7;
    width: 30px;
}
.navigation-container{
    position: relative;
    background-color: black;
    color: white;
}
.navigation-container div{
    padding: 10px;
   margin-left:19%;
}
.navigation-container div a{
    padding: 10px;
    border-right: 1px solid #6ec0c7;
}
.navigation-container div a:hover{
    background-color: #6ec0c7;
}
.banner-container {
    width: 100%;
    height: 240px;
    background-image: url("img/businessman.png");
    background-size: 100%; 
}
.left-angle{
    color: #6ec0c7; 
     float: left;
     margin-left:2%;
     margin-top:10%;
}

.hero-heading {
    color:#6ec0c7;
    width: 25%;
    float: left;
    margin-left:52%;
    margin-top:6%;
    line-height: 1.5;
}

.hero-heading h1{
    font-size: 28px;
    font-weight: 100;
}
.right-angle{
    margin-left:18%;
    margin-top:10%;
    float: left;
    color: #6ec0c7; 
}

.article-container{
    width:25%;
    float: left;
}
.bg-1{
    background-color: #57a9ce;
}
.bg-2{
    background-color: #54b0d5;
}
.bg-3{
    background-color: #5bb7de;
}
.bg-4{
    background-color: #62c0e6;
}

.global-container a i{
    font-size: 25px;
    color:white;
    padding: 10px;
    display: block;
    margin-bottom: 5px;
}
.reliable-container a i{
    font-size: 25px;
    color:white;
    padding: 10px;
    display: block;
    margin-bottom: 5px;
}

.creative-container a i{
    font-size: 25px;
    color:white;
    padding: 10px;
    display: block;
    margin-bottom: 5px;
}

.professional-container a i{
    font-size: 25px;
    color:white;
    padding: 10px;
    display: block;
    margin-bottom: 5px;
}

.heading-label-container h4{
    display: inline;
    color:white;
    padding: 10px;
 
}
.article-content{
    color: white;
    padding: 10px;
    line-height: 1.5;
    font-size: small;
}
