*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Nunito', sans-serif;
}
/* @font-face {
    font-family: 'Noto Sans';
    src: url('./font/NotoSans-Regular.woff2') format('woff2'),
        url('./font/NotoSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}  */

main{
    padding: 10px;
    margin: 10px;
}
.overall-container{
    max-width: 960px;
    margin: auto;
}
.main-header-container
{
background-color: black;
}
.mail-main-container{
    display: flex;
}
.mail-container{
  margin-top: 5px;
  margin-bottom: 5px;   
  border-right: 1px solid #008000;
}
.mail-container a i{
    color: #0bb241;
    font-size: 10px;
}
.mail-span-container{
    margin-right: 10px;
}
.mail-span-container label{
    color:white;
    font-size: 10px;
}
.call-container{
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;   
  }
  .call-container a i{
    color: #0bb241;
    font-size: 10px;
}
  .call-span-container label{
    color:white;
    font-size: 10px;
}
.socialmedia-container{
    margin-left:auto;
    margin-top:5px ;
    margin-bottom:5px;
}
.socialmedia-container i{
    color: white;
    font-size: 13px;
    margin-left:10px ;
}
.logo-container{
    display: flex;
    padding: 10px 0;
}
.logo-icon-container a{
    display: inline-block;
}
.logo-icon-container i{
    color: #0bb241;
    font-size: 25px;
}
.logo-label-container{
    display: inline-block;
    color: #0bb241;
    font-size: 20px;
}
.logo-label-container h3{
    font-family: 'Nunito', sans-serif;
}
.navigation-container{
    padding: 3px 0 0 60px;
}
.navigation-container a{
    font-size: 15px;
    margin-left: 20px;
}
.btn-signin{
    margin-left: auto;
    background-color: #0bb241;
    width: 9%;
    text-align: center;
    border: none;
    color: white;
    font-size: 10px;
}
.section-container{
    background-image: url("img/writingbg.png");
    width: 100%;
    height: 370px;
    background-size: 100%; 
    display: flex;
    margin: auto;
}
.left-angle{
     margin-left:2%;
     margin-top:10%;
}
.hero-heading {
    width: 50%;
    margin-left:9%;
    margin-top:5%;
}

.hero-heading h1{
    font-size: 28px;
    font-weight: 200;
    padding: 10px;
}
.para-container{
    padding: 10px;
}
.right-angle{
    margin-left:36%;
    margin-top:10%;
}
.hero-button-container{
    margin-left: 10px;
    margin-top: 15px;
    background-color: #0bb241;
    width: 20%;
    text-align: center;
  
}
.hero-button-container button{
    border: none;
    background: #0bb241;
    margin: 10px 0;
    color: white;
}
.content-section-container{
    padding:5px;
   margin-top: 20px;
}
.content-container{
   margin-left: 45%;
}
.content-para-container{
    width: 60%;
    text-align: center;
    margin-left: 20%;
    font-size: 13px;
    color: #6f6d6d;
}
.information-main-container{
    margin-top: 5%;
    display: flex;
}
.information-container{
    position: relative;
    background-color: #0bb241;
     color:white;
     padding: 10px;
     margin-bottom: 5px;
     width: 23%;
    margin-right: 2%;
    border-radius: 5px;
 }
 .mr-zero{
    margin-right: 0;
 }
.information-icon{
    position: absolute;
    left: 50%;
    top: -10%;
    background: #fff;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 0px 2px 1px rgb(0 0 0 / 20%);
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;

}
.information-icon i{
    color: black;
    font-size: 13px;
}
.information-container h4{
    text-align: center;
    margin-top: 15px;
}
.information-container p{
   margin-top: 5px;
   text-align: center;
   font-size: 10px;
}
.course-container{
    background-color: rgba(219, 214, 214,0.1);
    margin-top:50px;
}
.course-heading{
    margin: 20px;
    padding-top: 30px;
}
.course-heading h3{
    text-align: center;
}
.ml-zero{
    margin-left: 0;
}
.img-container{
    display: flex;
    margin-top: 20px;
}
.img-container a{
    width: 35%;
    height: 100%;
    margin-right: 2%;
}
