*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    padding: 0 1rem;
    font-family: 'Noto Sans', sans-serif;
    background-color: rgb(238, 235, 235);
}
.row{
    margin: 1rem;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #727070;
}
button{
    cursor: pointer;
}

.banner{
    margin: .5rem;
    color: #0ba1ec;
    font-size: 1.1rem;
}
.col li{
    padding-bottom: .5rem;
    margin: .5rem;
   
}
.home{
    color: #0ba1ec;
}
button{
    margin: 1rem;
    border: none;
    background-color: #0ba1ec;
    color: #fff;
    padding: 0.5rem;
    font-size: .6rem;
}
.img-container{
    position: relative;
}
.fig-title{
   position: absolute;
   top: 40px;
   margin-left: 30px;
   text-align: center;
}
.fig-title label{
    color: #727070;
    font-size:.7rem
}
.fig-title h3{
    color: #0ba1ec;
}
.para-row{
    position: relative;
    padding: 1rem;
    text-align: center;
    background-color: #0ba1ec;
    color: white;
    top:-5px;
}
.para-row span{
    width: 30px;
    height: 30px;
    position: absolute;
    top: -15px;
    right: 50px;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    font-size: 25px;
    
}
span i{
    color: #0ba1ec;
    padding-bottom: .5rem;
}
.para-row p{
    font-size: .6rem;
    color: white;
}
.para-row h5{
    letter-spacing: 1px;
}
.content-section{
    margin-top: 20px;
}
.integrate-content{
    padding: 1rem;
}
.integrate-content i,p{ 
    font-size: .6rem;
    color: #3d3939;
    line-height: 2;
    margin-bottom: .5rem;
}
.integrate-content i{
    color: #0ba1ec;
    font-size: 18px;
}
h1{
    padding-bottom: 1rem;
    color: #727070;
    font-size: 20px;
    font-weight: 100;
}
.profile label{
    position: relative;
    top: -3px;
    left: 3px;
    font-size: .6rem;
    color: #3d3939;
}
.card-section{
    padding: 1rem;
    box-shadow: 2px 2px 6px rgb(0 0 0 / 2%);
    background-color: white;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.card1-section{
    padding: 1rem;
    margin-top: 1rem;
    background-color: #0ba1ec;
    color: white;
    box-shadow: 2px 8px 4px #d1cece;
}
.card1-section p{
    color: white;
}
.rightside-content{
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
}
.card-section{
    width: 49%;
}
.card-section p{
    font-size: .58rem;
}
.card-icon1 i{
    color: white;
}
.card1-icon i{
    margin-bottom: 7px;
    padding-bottom: .5rem;
    border: 1px solid white;
    border-radius: 50%;
    padding: 6px;
    color: white;
}
.card-icon i{
    margin-bottom: 7px;
    padding-bottom: .5rem;
    border: 1px solid #0ba1ec;
    border-radius: 50%;
    padding: 6px;
    color: #0ba1ec;
}
h4{
    padding-bottom: .5rem;
}