@media (min-width:576px) {
    .container{
        max-width: 550px;
        margin: auto;
    }
    .col li{
        padding: .5rem;
        margin: .5rem;
        border-bottom:  1px solid rgb(219, 214, 214);
    }   
    .banner{
        padding: .5rem;
    }
    .fig-title{
        position: absolute;
        top: 50px;
        left: 50%;
        transform: translateX(-50%);
        margin-left: 0;
     }
}
@media (min-width:768px) {
    .container{
        max-width: 720px;
        margin: auto;
    }
    .content-section{
        display: flex;
    }
    .leftside-content{
        display: flex;
        width: 50%;
    }
    .rightside-content{
        width: 50%;
        display: flex;
        flex-wrap: wrap;
    }
    .integrate-profile{
        position: relative;
        width: 80%;
        left: 10%;
    }
    .integrate-content{
        padding: 2rem;
    }
}
@media (min-width:992px) {
    .container{
        max-width: 960px;
        margin: auto;
    }
    .row{
        display: flex;
    }
    .col{
        display: flex;
        margin-left: auto;
    }
    .col li{
        border-bottom:0;
    }
    .integrate-profile{
        position: relative;
        width: 60%;
        left: 20%;
    }
    .card-section{
    flex: 0 0 44%;
        
    }
}
@media (min-width:1200px) {
    .container{
        max-width: 1200px;
        margin: auto;
    }
   
}