*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}
.row-top{
    background-color: #1f425d;
    padding: 10px 0px;
    color: white;
}
.top-bar-wrapper-icon a{
    font-size: .9rem;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
.top-bar-wrapper-icon i{
    color: #4ab9cf;
}
.top-bar-wrapper-icon a{
    color: white;
}
.social-icon a{
    color: white;
    margin-left: 15px;
   
}
.nav-bg a{
    background-color: white;
    font-weight: 600;
}
.navbar-light .navbar-nav .nav-link {
    color: #1f425d;
    font-size: .9rem;
}
.navbar-light .navbar-nav .nav-link:hover{
color: #4ab9cf;
transition:all 1s linear;
}
.list-bg li{
    background-color: #4ab9cf;
    
}
.navbar {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.nav-link{
    padding: .5rem 1rem;
}
.list-bg a:hover{
    color: #1f425d;
    transition:all 1s linear;
}
.nav-left a{
    background: #4ab9cf;
    border: none;
    color:white;
    font-size: .9rem;
}
.nav-left a:hover{
    background-color: #1f425d;
    transition:all 1s linear;
}
.main-logo{
    width: 170px;
}
.search button{
    background-color: white;
    align-items: center;
    border: none;
    color:#1f425d;
    margin-left: 10px;
}
.search button:hover{
    color:#fd7062;
}
.list-label{
    color: white;
}
.search{
    color:#4ab9cf;
}
.frame-bg{
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #1f425d;
    opacity: 0.4;
    z-index: 1;
}
.banner-text{
    position: absolute;
    top: 20%;
    left: 10%;
    z-index: 2;
    color: white;
    
}
.banner-text h1{
    font-weight: bolder;
    color: white;
    margin-bottom: 2rem;
}
.btn-bg{
    background-color: rgb(43, 197, 228);
    color: white;
    border-radius: 0;
    padding: .5rem 3rem;
    margin-top: 25px;
}
.btn-bg:hover{
    background-color: #1f425d;
    color:white;
    transition:all 1s linear;
}
.banner-text p{
    margin-bottom: 2rem;
    font-size: 14px;

}
.text-color{
    color: #fd7062;
}
.left-img{
    text-align: center;
}
.about-figure{
    padding: 0;
}
img{
    width: 100%;
}

    
.block-contents .section-title h1{
    font-weight: 700;
    font-size: 60px;
    color: #1f425d;
    line-height: 1.3;
    margin-bottom: 50px;
}
.block-contents .section-title .overview{
    color:#4ab9cf;
   
} 
.left-article{
    background-color: #f7f7f7;
    padding: 20px;
    margin-top:30px;
    padding-bottom: 70px;
}
.para{
    line-height: 1.7;
    color: #8c8c8c;
}
.company-ceo{
    align-items: center;
    position: absolute;
    padding: 10px;
    margin-top: -40px;
    background: #fff;
    width: 90%;
    box-shadow: 0px 16px 32px 0px rgb(51 51 51 / 4%);
}
.ceo-figure img{
    align-items: center;
}
.ceo-name h3{
    color:#1f425d;
    font-weight: 700;
    margin-bottom: 0;
} 
.ceo-head{
    color:#8c8c8c;
}
.sign{
    position: absolute;
    left: 25%;
    top: 60px;
    width: 50%;
}
.pb{
    padding-bottom: 30px;
}
.service-header{
    margin-top: 20px;
}
.service-section{
    background-color: #1f425d;
   
}
.padding-top-bottom{
    padding: 30px 0 120px;
}

.figure-ceo{
    width: 60px;
    height: 60px;
}
.service-header > span::before {
    position: absolute;
    left: 0;
    width: 60px;
    height: 2px;
    background-color: #fd7062;
    content: "";
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.service-header > span {
    font-weight: 700;
    text-transform: capitalize;
    color: #fd7062;
    font-size: 14px;
    position: absolute;
    padding-left: 80px;
    line-height: 1;
    
}
.heading{
    position: relative;
    color:white;
    font-size: 40px;
    /* text-align: center; */
    font-weight: 700;
}
.heading span{
    color: #4ab9cf;
}
.btn-mt{
    margin-top: 0;
    display: flex;
    justify-content: end;
}
.btn-lft-arrow, .btn-rgt-arrow{
    padding: 10px 15px;
    border:none;
    color:#fff;
    background-color: #8c8c8c;
    margin-top: 0;
}
.btn-rgt-arrow{
    background-color: #fd7062;  
}
.section-figure{
   width: 100%;
   height: 100%;

    
}
.img-section-para{
    color: #fff;
    padding: 20px 30px;
    border: 1px solid rgba(147, 145, 145,0.2);
    border-top: none;
    font-size: 1rem;
}
.img-section-para h4{
    padding:  20px 0;
}
.rating-div{
    padding: 30px 90px;
    border: 1px solid rgb(211, 210, 210,0.3);
}
.rating-icon{
    font-size: 50px;
    align-self: center;
    color:#4ab9cf;
}
.text-color{
    color:#fd7062;
}
.rating-count{
    font-size: 3rem;
    color:#1f425d;
    font-weight: bolder;
    letter-spacing: .2rem;
}
.rating-label{
    font-size: .9rem;
    color: #a39f9f;
    font-weight: 500;
}

.team-color{
    color: #1f425d;
}
.team-img{
    height: 340px;
    background-color: #eee;
    position: relative;
    background-position: top center;
    margin-top: 30px;

}
.team1{
    background-repeat: no-repeat;
    background-size: cover;
     background-image: url(./img/team1.jpg); 
}

.team-hover-name{
    position: absolute;
    padding: 30px;
    top:40%;
    left: 10%;
    background-color: #fd7062;
    color: #fff;
    opacity: 0;
    transition:.5s ease-in;
    transform: translateX(0);
}
.team-img:hover .team-hover-name{
    opacity: 1;
    transform: translateX(20px);
}
.team2{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./img/team2.jpg);
}
.team3{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./img/team3.jpg);
}
.team-img:hover team-hover-name {
    opacity: 1;
    transition:opacity .5s ease-in;
}
.team4{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./img/team4.jpg);
}

.shipment-para{
    color: white;
    font-size: 18px;
}

.mb-50{
margin-bottom: 50px;
}
.pr-30{
    padding-left: 30px;
}
.shipment-icon{
    color:white;
}
.shipment-icon i{
    font-size: 50px;
}
.personal-data{
    background-color: white;
}
.personal-data-heading{
    color:#1f425d;
    font-weight: 900;
    font-size: 22px;
}
input,.form-select{
    border:none;
    width: 100%;
}
.form-check-label,.form-select,.price-para{
    color: #6f6c6c;
}
.request-fs{
    font-size: 14px;
}
.btn-request{
    background-color: #1f425d;
    color: white;
    width: 100%;
    text-align: center;
}
.btn-request button{
    border:none;
    background: none;
    color: white;
    font-weight: 700;
}
.btn-request:hover{
    background-color:#0ec3e7;
    transition:all .5s  ease;
}
.mt{
    margin-top: -12px;
}
.price-section{
    text-align: center;
}
.single-price-line{
   padding: 35px 15px;
   border-top: 1px solid #eee;
}
.color-text{
    color: #1f425d;
   font-weight: 800;
}
.price-btn{
    color: #8c8c8c;
    font-weight: 900;
}
.price-mr{
    margin-top: 1rem;
}
.price-btn:hover{
    background-color: #fd7062;
    color:#fff;
    transition:all 1s linear;
}
.price-bg{
    background-color: #4ab9cf;
}

.bg-btn:hover{
    color:#8c8c8c;
    background-color: #fff;
    transition:all 1s linear;
}
.price-row{
    text-align: left;
}
.margin-top-bottom{
    margin: 50px 0;
}
.review-content{
    padding: 20px 0;
}
.testimonial-card{
    background-color: #fff;
    padding: 0 25px 20px;
    margin-top: 80px;
    text-align: center;
    box-shadow: 0px 16px 32px 0px rgba(51, 51, 51, .2);
}

.testimonial-author1, .testimonial-author2, .testimonial-author3 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-size: cover;
    display: inline-block;
    margin-top: -50px;
}

.author-info h4{
    color: #1f425d;
    margin: 20px 0 5px;
    font-weight: 600;
}
.feedback-content i{
    color: #0ec3e7;
    font-size: 25px;
    text-align:  center;
    margin: 20px 0;
}
.feedback-content p{
    color: #6f6c6c;
    text-align:  center;
    line-height: 1.6;
}
.stars-color i{
    color:#fd7062;
    font-size: 1.3rem;
}
.brand-list{
    background-color: #edebeb;
}
.counting-header h1{
    font-size: 80px;
    text-align: center;
    font-weight: 900;
    color: #1f425d;
}
.counting-label{
    text-align: center;
    color: #1f425d;
    font-weight: 800;
    font-size:18px;
}
.brand-logo{
    background-color: #f8f6f6;
    margin-top: 30px;
    width: 60%;
    padding: 30px;
    margin-left: 25%;
    box-shadow: 0px 16px 32px 0px rgb(51 51 51 / 6%)
}
.custom-img{
     background-image: url(./img/cta-bg.jpg);
     width: 100%;
     height: 600px;
}
.custom-logo{
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.custom-heading{
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
    font-family: 'Poppins', cursive;
}
.custom-content{
    position: absolute;
    top: 20%;
    left: 10%;
    width: 80%;
   color:#fff;
}
.blog-card{
    padding: 35px;
}
.blog-card p{
    text-align: left;
    font-size: 20px;
    color: #1f425d;
    font-weight: 800;
}
.blog-autor{
    background-color: #fff;
    padding: 0 30px 30px;
}
.author-name h5{
    color:#1f425d;
    font-weight: 700;
    margin-bottom: 0;
}
.slash-date{
    color: #d4d4d4;
}
.footer-margin{
    margin-top: 50px;
}
.footer-logo {
    padding: 20px;
    color:#fff;
}
.footer-logo p{
    color: #9dacb8;
    font-size: 15px;
    margin-top: 20px
}
.footer-heading h6{
    font-size: 19px;
}
.footer-list a{
    color: #9dacb8;
    font-size: 15px;
    margin-top: 8px;
}
.footer-list a:hover{
    color: #fd7062;
}
.contact-details{
    margin-top: 40px;
}
.location{
    color: #9dacb8;
    font-size: 15px;
    margin-top: 8px;
    padding: 10px;
}
.footer-btn{
    background-color: #4ab9cf;
   
}
.footer-btn i{
    color:#fff;
}
.btn-email{
    background-color: rgb(44,76,99);
    border:none;
}
.footer-bottom{
    background-color: #fd7062;
    color: #fff;
    padding: 35px;
    justify-content: left;
}
.bottom-icon{
    justify-content: center;
}
.bottom-icon{
   justify-content: end;
    
}
.bottom-icon a{
    color:white;
    padding: 7px;
    font-size: 16px;
}
.video-img{
    background-image: url(./img/full-video-bg.jpg);
    background-size: cover;
    width: 100%;
    height: 400px;
    padding: 120px 0;
}
.video-play-btn{
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 10%;
    display: flex;
    justify-content: center;
   
}
.video-play-btn a i{
    font-size: 25px;
    color: #fd7062;
}
.heading{
    padding-top: 47px;
}

.stripe-span::before {
    position: absolute;
    left: 0;
    width: 60px;
    height: 2px;
    background-color: #fd7062;
    content: "";
    top: 50%; 
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.block-contents::after,.service-header::after,.team-heading::after,.quote-header::after,
.price-header::after,.review-header::after,.news-header::after {
    content: 'About';
    position:absolute;
    top:0;
    left:0;    
    margin:0;
    padding:0;
    font-size: 80px;
    font-weight: 900;
    letter-spacing:-4px;
    -webkit-text-stroke-color:#1f425d;
    -webkit-text-fill-color:#fff;
    -webkit-text-stroke-width:1px;
    opacity: .10;
    font-family: sans-serif;
    line-height: 1;
}

.service-header::after{
    content: 'Service';
    -webkit-text-stroke-color:#fff;
    -webkit-text-fill-color:#1f425d;
}
.team-heading::after{
    content: 'Team';
}
.quote-header::after{
    content: 'Quote';
    -webkit-text-stroke-color:#fff;
    -webkit-text-fill-color:#1f425d;
}
.price-header::after {
    content: 'Price';
}
.review-header::after{
    content: 'Review';
}
.news-header::after {
    content: 'News';
}
.stripe-span {
    font-weight: 700;
    color: #fd7062;
    font-size: 14px;
    position: relative;
    line-height: 1;
    top: 40px;
    padding-left: 80px;
    text-transform: capitalize;
}

@media (min-width:576px) {
    .banner-text h1{
        font-size: 55px;
    }
    .block-contents .section-title h5.relative {
        text-align: center;
    }
    .rating-div{
        padding: 100px 70px;
    }
}
@media (min-width:768px) { 
    .banner-text h1{
        font-size: 65px;
    }
    .block-contents .section-title h5.relative {
        text-align: center;
    }
    .banner-text p{
        font-size: 18px;
    
    }
    .brand-logo{
        background-color: #f8f6f6;
        padding-top: 30px;
        width: 100%;
        height: 130px;
        margin-left: 0;
        box-shadow: 0px 16px 32px 0px rgb(51 51 51 / 6%);
    }
}
@media (min-width:992px) {
    .nav-left{
        justify-content: end;
    }
    .banner-text{
        width: 50%;
    }
    .banner-text h1{
        font-size: 70px;
    }.main-logo{
        width: 250px;
    }
   .heading{
       font-size: 60px;
       text-align: left;
   }
    .about-figure{
        padding: 2.3rem;
    }
    
    .company-ceo{
        width: 52%;
    }
    .btn-mt{
        margin-top: 7rem;
}
.btn-lft-arrow, .btn-rgt-arrow{
margin-top: 50%;
}
 .heading{
    margin-top: 60px;
    padding-top: 50px;
}
.service-h2{
    margin-top: 60px;

} 
.block-contents::after,.service-header::after,.team-heading::after,.quote-header::after,
.price-header::after,.review-header::after,.news-header::after {
    font-size: 150px;
}
.stripe-span { 
    top: 80px; 
} 
.btn-lft-arrow, .btn-rgt-arrow{
    padding: 20px 23px;
}
.sign{
    left: 45%;
    top: -30px;
    width: 250px;
}
.pb{
    padding-bottom: 100px;
}
.price-mr{
    margin-top: 0;
}
.margin-top-bottom{
    margin: 100px 25px;
}
.video-play-btn a i{
    font-size: 80px;
    color: #fd7062;
}
.counting-header h1{
    font-size: 180px;
}
.custom-heading{
    font-size: 80px;
}
.footer-logo {
    padding: 100px 20px;
    color:#fff;
}
.footer-margin{
    margin-top: 0;
}
.bottom-icon{
    justify-content: end;
}
}