*{
    padding: 0;
    margin: 0;
}
a {
    color: #333;
    text-decoration: none;
}
.lh-1 {
    line-height: 1;
}
.top-nav{
    display: flex;
    padding: 2px;
}
.top-nav a, label{
    font-size: 10px;
}
.label{
    padding-right: 10px;
}
.icon{
    font-size: 10px;
    justify-content: center;
}
.pr-zero{
    padding-right: 0px;
}
.mr-center{
    margin-left: 25%;
}
.container h1{
    font-family: 'Bitter', serif;
    padding-top: 5px;
}
.navbar-icon{
    display: flex;
    padding-left: 20px;
    width: 530px;
}
.all-select {
    width: 70px !important;
    font-size: 12px;
    background-color: #0d4ec9;
    color: white;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.navbar-all{
    background-color: #0d4ec9;
    color:white;
    
}
.navbar-icon-list{
  width:81%;
  border: none;
}    
.navbar-icon-list a{
    font-size: 12px;
}
.navbar-search button{
    background-color: #0d4ec9;
    color: white;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border: none;
    padding: 6px;
}
.navbar-search button{
    background-color: #0d4ec9;
    color: white;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border: none;
    padding: 7px;
}
.cart-nav a span{
    font-size: 22px;
}
.cart-label{
    margin-right: 10px;
}
.dropdown button{
    margin-top: -11px;
    font-size: 10px;
}
.btn-cart {
    background-color: #0d4ec9;
    color: white;
    border-radius: 3px;
    border:none;
    padding: 5px 8px;

}
.btn-cart i {
    font-size: 20px;
}
.cart-label {
    font-size: 11px;
}
.navbar-department{
    background-color: gold;
    padding: 10px;
}
.navbar-department i{
    font-size: 15px;
}
.navbar-department a{
    font-size: 13px;
    color: black;
    font-weight: 500;
}
.navbar-sale{
    position: absolute;
    background-color: orangered;
    padding: 3px 4px;
    color: white;
    font-size: 9px;
    top: -8px;
    right: 6px;
    margin-left: auto;
}
.secondrynav-list a {
    color: white;
    font-size: 14px;
    position: relative;
    padding: 12px 0;
    display: block;
}
.nav-new{
    position: absolute;
    top: -6px;
    font-size: 9px;
    color: #333;
    background: #ff0;
    padding: 1px 4px;
    right: -10px;
}
.navbar-call{
    color: white;
    padding: 5px;
}
.col-blogs{
    background-color: gold;
    padding: 10px;
}
.section-container {
    display: flex;
    background-color: #eff0f4;
    padding: 15px;
    width: 70%;
    margin: 10px 0;
    border-radius: 5px;
}
.section-items{ 
    width: 55%;
    margin-top: 70px;
    margin-left: 10px;
}
.section-label{
    background-color: #0d4ec9;
    border-radius: 3px;
    color: white;
    padding: 3px;
}
.section-btn{
    margin-top: 15px;
    padding: 5px;
    border: 1px solid black;
    width: 32%;
    border-radius: 3px;
    
}
.section-btn button{
    border:none;
}
.empty{
    margin-top: 50px;
}
.empty div{
    width: 15px;
 background-color:black;
 border:1px solid black;
    margin-left: 5px;
}
aside{
    width: 30%;
    margin-top: 10px;
}
.aside-section{
    background-color: #eff0f4;
    padding: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.aside-items {
    padding: 13px;
}
.aside-items a{ 
    text-decoration: none;
    font-size: 12px;
    color: #0d4ec9;
}
.enqiry-list{
    padding: 10px;
    background-color: #394754;
    flex: 1;
}
.enqiry-items i{
border-radius: 50px;
border:2px solid blue;
padding: 10px;
color:#de6c3c;
}
.enquiry-heading{
    color:white;
    padding-left: 10px;
}
.enquiry-heading a{
    font-size: 12px;
}
.information-container{
    text-align: center;
    margin-top: 25px;
}
.information-container p{
    width: 75%;
    margin: auto;
    padding-top: 10px;
    color:rgba(0,0,0,0.6)
}
.information-container a{
    
}
.information-underline{
    margin: auto;
    width: 50px;
    height: 2px;
    border: 1px solid #de6c3c;
    background-color: #de6c3c;
}
.btn-container button{
border:none;
padding: 10px;
font-size: 12px;
}
button.btn-active {
    background-color: #0d6efd;
}
.btn-container button.btn-active::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-left: 10px solid #0000;
    border-right: 10px solid #0000;
    border-top: 10px solid #0d6efd;
}
.img-container{
    padding: 10px;
   
}
.img-container img{
 border-radius: 10px;
}