*{
    padding: 0;
    margin: 0;
}
body{
    background-image: linear-gradient(to right,#d621a4, #49ace5);
    color: white;
}
.min-w-0 {
    min-width: 0 !important;
}
.main-page{
    background-image:linear-gradient(#242059 50%, #0f131b 50%);
    padding: 10px 0;
}
.main-nav{
    display: flex;
    color: white;
    list-style: none;
    padding: auto;
}
.main-nav-li{
    border-right: 3px solid white;
    padding: 10px;
}
.br-none{
    border: none;
}
.auth-nav-container a {
    min-width: 150px;
    font-size: 0.85rem;
    display:inline-block;
    padding: 3px 10px;
    margin: 5px 15px 8px 0;
    color: white;
    background-color: #5e6071;
}
.log-in{
    color: white;
    padding-left: 5px;
    background-color: #5e6071;
}
.hero-container{
    background-color:rgba(0, 0, 0,0.2);
    font-size: 12px;
}
.latest-card{
    padding: 10px;
    background-color: rgba(0,0,0,0.2);
}
.text-color{
    color:#d621a4
}
.card-list{
    border-bottom:1px solid white;
}
.btn-card{
    border: none;
    background-color: black;
    color: white;
    padding: 5px;
    margin-top: 5px
}
.card-input{
    margin-top: 5px;
    height: 30px;
}
section{
    margin-top: 30px;
}
.section-span-icon{
width: 50px;
height: 50px;
background-color: rgba(0,0,0,0.3);
}
.section-span-icon i{
    font-size: 30px;
}
.main-para-items{
    margin-top: 20px;
    font-size: 12px;
    
}
.btn-items{
    margin-top: 20px;
    padding: 5px;
    border: none;
    background: rgba(0, 0, 0, 0.3);
    color: white;
}
.bottom-nav{
    margin-top: 10px;
    background: rgba(0, 0, 0,0.6);
}
.left-menu-list{
    margin: 5px;
}
.left-menu{
    padding: 7px;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    background-color: rgba(0,0,0,0.3);
}
.left-menu i{
    padding: 8px;
}
.bg {
    background-color: rgb(219, 69, 182)
}
.content-container{
   margin: 8px 0;
   padding-bottom: 5px;
   background-color: rgba(0,0,0,0.3);
}

.bottom-nav-icon{
    font-size: 40px;
    color: white;
}
.bottom-nav-para{
    line-height: 1;
    text-align: justify;
    font-size: 14px;
}

.btn-readmore{
    padding: 2px;
    border: none;
    font-size: 10px;
    color: rgb(134, 130, 130);
}
.footer-para{
    line-height: 1;
    font-size: 10px;
    color: rgba(255,255,255,0.8);
}

