*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Josefin Sans', serif;
    
}
main{
    padding: 10px;
    margin: 10px;
}
header{
    background: linear-gradient(to right, #0099cc, #11c8c8,#0099cc);
    height: 340px;
    /* background-image: linear-gradient(to right,#28a9bf,#3ac7e2,#28a9bf); */
}
.overall-container{
    max-width: 960px;
    margin: auto;
}
.h1-container{
    font-family: 'Libre Baskerville', serif;
    display: flex;
    align-items: center;
    letter-spacing: 5px;
}
h1{
    color: white;
    padding: 10px;
    margin: auto;
}
.menu-container{
    background-color: rgba(231, 231, 231, 0.91);
    display: flex;
    border-radius: 5px;
    margin-top: 15px;
    flex: 1;
}
nav{
margin: 10px 10px;
}
nav a{
    margin: 10px;
    font-size: 15px;
    padding: 5px 2px;
    
 }
nav a:hover,a.home{
    background-color: #f1f1ef;
    border-radius: 5px;
    cursor: pointer;
    
 }
.btn-container{
    margin-left: 30%;
    margin-top: 7px;
}
.btn-container button{
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
    border-radius: 5px;
    padding: 3px;
    color: white;
    cursor: pointer;
}
.img-wrap-container{
    background-color: white;
    border-radius: 10px;
    margin: 0 90px 90px 90px;
}
.img-container{
    height: 180px;
    width: 100%;
    background-image: url(./img/sea.png);
    background-repeat: no-repeat;
    border: 10px solid white;
    border-radius: 20px;
    position: relative;
    padding-top: 30px;
    display: flex;
    justify-content: flex-end;
   
}
.para-container{
    width: 50%;
    background-color: rgba(199, 176, 164,0.5);
    border:1px rgb(199, 176, 164);
    border-radius:10px;
    margin-right: 20px;
    margin-bottom: 15px;
}
.para-container h4{
    padding: 20px 0 10px 20px;
}
.para-container p{
    padding:  0 20px;
}
div:empty{
    height: 20px;
    background-color: #4ee6fa;
    width: 100%;
}
.section-main-container{
    display: flex;
    margin-bottom:15px;
}
.section-container{
    width: 65%;
    height:190px;
}
.holiday-left-container{
    height: 200px;
    border-bottom: 1px dotted rgb(163, 158, 158);
}
.heading-container{
    color: rgba(5, 98, 129, 0.89);
    font-family: 'Raleway', sans-serif;
    margin-top:15px;
    font-size: 20px;
}
.section-img-container{
    width: 96%;
    margin-top: 10px;
    display: flex;
    
}
.section-img-container a{
    width: 130px;
    height: 100px;
    border: 1px solid rgb(211, 204, 204);
    background-color: white;
    box-shadow: 1px 1px 0 0 rgba(0,0,0,0.3);
}
.img{
    position: relative;
    height:96%;
    width:96%;
    left:2%;
    top:2%;
}
.section-img-container p{
    width: 80%;
    font-size: 12px;
    padding-left: 15px;
    line-height: 1.3;
}   
.read-more{
    display: flex;
    background-color: white;
    width: 16%;
    margin-left: auto;
}
.readmore-icon{
    background-color: #1a7486;
    color: rgb(243, 242, 242);
    font-size: 13px;
    padding-top: 2px;
    width: 15px;
}
.readmore-span{
    color : white;
    background-color: #6ccde0;
    font-size: 13px;
    padding-top: 3px;
    width: 83px;
}
.special-section-container{
    margin-top: 10px;
    display: flex;
}
.special1-article-container{
    width: 50%; 
    padding-right: 20px;
    border-right:1px dotted rgb(156, 152, 152);
}
.heading-container p{
    font-size: 12px;
    color: black;
    padding-top: 10px;
}
.special2-article-container{
    width: 50%;
    padding-left: 20px;
}
.list-container{
    padding: 20px;
}
.list-itms{
    font-size: 15px;
}
.list-itms-icon{
    font-size: 10px;
}
.list-itms-label{
    font-size: 13px;
    margin-left: 10px;
    color: #53c0d8;
}
.article-container{
    width: 35%;
    padding-left: 35px;
}
.article-para-container{
padding-top:10px;
border-bottom: 1px dotted rgb(163, 158, 158);
cursor: pointer;

}
.article-para-container h5{
    color:#11c8c8; 
    padding-bottom: 10px;
}
.article-para-container p{
    padding-bottom: 20px;
    font-size: 12px;
}
.twitter-container{
    display: flex;
    margin: 10px;
}
.twitter-container a{
    padding-left: 10px;
}
.footer-container{
        width: 100%;
        background-image: linear-gradient(to bottom, #1c668b, #399fb9);
       
}
.footer-card{
    display: flex;
}
.card-container{
    flex: 1;
    font-family: 'Raleway', sans-serif;
    margin-right: 1%;
    margin-top: 2%;
    margin-left: 1%;
    color: white;
    font-size: 11px;
}
.mr-zero{
    margin-right: 0%;
}
.card-heading{
    background-image: linear-gradient(to top, #35a8e6, #79bbce);
    border-radius: 5px;
}
.card-heading h5{
    padding: 10px;
    color:white;
}
.card-content{
    padding: 20px;
    line-height: 1.7;
}
.card-span{
    display: flex;
}
.card-span li{
    color: #9bd6ead2;
}
.card-content  a{
    color: white;
}
.copyrights-container{
    display: flex;
    color: white;
    padding-top: 10px;
    padding-left: 35%;
    padding-bottom: 10px;
    font-size: 10px;
}
