*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'DM Sans', sans-serif;
}
a{
    text-decoration: none;
}

.grid-icon{
    padding:10px 15px;
    border: 1px solid rgb(232, 230, 230);
}
.grid-icon, .phone-icon{
    color: #9ecf36;
    font-size: 1.5rem;
}
nav a{
    display: block;
    padding: 10px;
    color:black;
    font-size: .6rem;
    font-weight: 600;
}
.banner{
    /* width: 100%; */
    margin: 5px;
    text-align: center;
    box-shadow: 1px 1px 8px rgb(225, 224, 224);
}
.phone-icon-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.phone-icon{
    font-size: 2rem;
}
.get-div{
    padding: 5px;
}
.get-div label{
    font-size: .7rem;
    color: #c2c3c4;
}
.get-div h6{
    font-size: .8rem;
}
.btn-get{
    padding: 10px;
    margin-left: auto;
    color: white;
    font-size: .7rem;
    font-weight: 600;
    border: none;
    background-color: #9ecf36;
}
.main-content{
    width: 100%;
    height:600px;
    display: flex;
    align-items: center;
    background-image: url(./img/businessman.jpg);
    background-repeat: no-repeat;
    background-size: cover;
 
}
.banner-heading{
    margin: 10px;
}
h1{
   font-size: 30px;
   font-weight: bolder;
}
p::before{
    margin: 7px;
    content: '';
    position: absolute;
    left: 0;
    width: .1rem;
    height: 75px;
    background-color: #9ecf36;
}
p{
    padding: 5px;
    line-height: 1.8;
    color: #868383;
    font-size: .8rem;
}
.btn-box{
    display: flex;
    justify-content: space-between;
    margin: 15px;
}
.btn-online{
    padding:10px;
    color: white;
    font-size: .7rem;
    font-weight: 600;
    border: none;
    background-color: #9ecf36;
    box-shadow: 5px 5px 8px rgb(217 217 217);
}
.btn-icon{
margin-left: 5px;
font-size: .9rem;
font-weight: 600;
}
.btn-agent{
    background-color: #fff;
    color: black;
}