@media (min-width:576px){
        .container{
            max-width: 550px;
            margin: auto;
         }
    .row{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    nav{
        display: flex;
        align-items: center;
    }
    .get-div{
        padding: 10px;
    }
    .btn-get{
        margin:10px;
    }
    .banner-heading{
        position: relative;
        width: 55%;
        left: 50px;
    }
    p{
        margin: 15px;
    }
    .btn-box{
        display: inline-block;
    }
}
@media (min-width:768px){
    .container{
        max-width: 720px;
        margin: auto;
     }
    .banner{
        width: 9%;
    }
    .banner img{
        width: 100%;
    }
    
}
@media (min-width:992){
    .container{
        max-width: 960px;
        margin: auto;
     }
    .banner-heading{
        padding:60px;
        width: 50%;
    }
}
@media (min-width:1200){
    .container{
        max-width: 1120px;
        margin: auto;
     }
    }