body{
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    background: #e7f8f9;
}
@media (min-width:576px) {
    .container{
        max-width: 550px;
        margin: auto;
    }
    .main-wrap{
        display: flex;
    }
    .left-aside{
        position: relative;
        width: 35%;
    }
    .right-section{
        position: relative;
        width: 80%;
    }
    h1{
        display: inline-block;
    }
    
}
@media (min-width:768px) {
    .container{
        max-width: 720px;
        margin: auto;
    }
   
    .search-box i{
        align-self: center;
    }
    .card-row{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .card-1, .card-2, .card-3, .card-4{
        margin: 4px;    
        width: 47%;
    }
}
    
@media (min-width:992px) {
    .container{
       max-width: 960px;
       margin: auto;
    }
    .left-aside{
        position: relative;
        width: 20%;
    }
   .right-header{
       display: flex;
       margin: 15px;
       align-items: center;
       justify-content: space-between;
   }
   .span-input{
       position: relative;
        margin: 0 0 0 30px;
        width: 45%;
}

   .profile-content{
       margin: 0;
   }
   .img-content{
       padding: 0 20px;
   }
   .bell-icon{
       margin: 0 10px;
   }
   .row, .row-revenue{
      display: flex;
      gap:10px;
      padding: 10px;
   }
   .row-revenue{
       margin: 0;
   }
   .card-row{
       flex-wrap: nowrap;
   }
   .card-1{
       padding: 5px;
   }
   
   .today-sale{
       width: 70%;
       padding: 0;
       margin: 0;
   }
   .visitor-insight{
       width: 30%;
   }
  .revenue-col{
    width: 50%;
  }
  .customer-col{
    width: 30%;
  }
}
@media (min-width:1200px) {
    .container{
            max-width: 960px;
            margin: auto;
    }
}