
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    line-height: 1.5;
}
.main-wrap{
    margin: 20px;
    border-radius:20px;
    background-color: #fff;
}

.aside-header{
    padding: 30px;
    display: flex;
}
.aside-header a{
    background-color: #693ef4;
    border-radius:3px;
}
.aside-header a i{
    color: white;
    font-size: .7rem;
    padding: 6px;
}
.aside-header h3{
    font-size: .85rem;
    margin-left: 10px;
    color: #120d57;
    margin-top: 2px;
}
.dashboard-nav{
    display: flex;
    background-color: #5d5fef;
    margin: 0px 27px;
    border-radius: 10px;
    box-shadow: 0px 2px 2px rgb(149 147 147 / 20%);
}
.dashboard-nav a{
    padding: 6px;
    padding-bottom: 0.5rem;
}
.dashboard-nav a i{
    color: #fff;
    font-size: 0.9rem;
    padding-left: 5px;
}
.menu-icon{
    padding: 10px;
}
.dashboard-nav h4{
    font-size: .6rem;
    color: #fff;
    align-self: center;
    margin-left: 5px;
}
.menu-items{
    margin: 10px 20px;
}
.menu-list{
    padding: 10px;
   
}
.menu-list a{
    color: #989898;
    font-size: .7rem;
}
.menu-type{
    margin-left: 5px;
}
.pro-content{
    padding: 20px;
    margin: 50px 10px;
    border-radius: 10px;
    background-color: #5d5fef;
    text-align: center;
}
.pro-content a{
    background-color: #fff;
    padding: 5px;
    border-radius: 25%;
   margin: 0 auto;
}
.pro-content a i{
    color: #5d5fef;
}
.pro-content h3{
    color: #fff;
    font-size: .8rem;
    padding: 10px;
   
}
.pro-content p{
    font-size: 0.63rem;
    color: rgb(234, 229, 229);
}
.pro-content button{
    background-color: #fff;
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    color: #5d5fef;
    width: 100%;
    font-weight: 800;
}
h1{
color: #120d57;

}
.span-input{
    border-radius:20px;
    margin: 10px 0;
}
.span-input input{
    background-color: #f9fafb;
    border: none;
}
.img{
    width: 25px;
    padding: 5px;
}
.lang-list{
    position: absolute;
    top: 8%;
    right: 28%;
    font-size: .8rem;
    padding: 10px;
    border:1px solid #eaefec;
    border-radius: 5px;
    background-color: #fafbfc;
    box-shadow: 2px 2px 1px #eaefec;
    display: none;
}
li{
    list-style-type:none;
}
.img-content label{
    font-size: .8rem;
    padding: 8px;
}
.fa-angle-down{
    font-size: .8rem;
    color: #989898;
    padding: 8px;
}
.profile-content{
    display: flex;
    justify-content: space-between;
}
.user-div{
    display: flex;
    align-items: center;
}
.img-content{
    display: flex;
    align-items: center;
}
.span-input i{
    position: absolute;
    font-size: .8rem;
    padding: 7px;
    color: #5d5fef;

}
.form-control{
    width: 100%;
    padding: 0.375rem 1.5rem;
    font-size: .8rem;
    font-weight: 400;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #efeff0;
    border-radius: 20px;
}
.bell-icon{
    color:rgb(218, 218, 33);
    padding: 5px;
    border-radius: 5px;
    background-color:rgb(231, 231, 161);
}
.user-icon{
    color: #d4cece;
    margin: auto;
    font-size: 1.7rem;
    padding: 10px;
}
.user-div h6{
    color:#120d57;
    font-size: .6rem;
}
.user-div label{
    font-size: .6rem;
    color:#120d57;
}
.down-arrow{
    font-size: .8rem;
    color: #989898;
    margin: auto;
    padding: 10px;
}

.right-article{
    background-color: #fafbfc;
    padding: 10px;
}
.right-header{
    padding: 10px;
}
.today-sale{
    background-color: #fff;
    border-radius:20px;
    box-shadow: 1px 1px #e5e5e5;
}
.today-sale, .revenue-col{
    padding: 5px;
    margin: 5px
}
.today-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.visitor-insight{
    background-color: #fff;
    border-radius:20px;
    box-shadow: 1px 1px #e5e5e5;
}
.visitor-insight div{
    padding: 10px;
}
.visitor-insight img{
    width: 100%;
}
.summary{
    font-size: .8rem;
    color:#120d57;
    padding: 10px;
}
.summary label{
    font-size: .7rem;
    color: #d4cece;
}
button{
    padding: 3px;
    background-color: #fff;
    border: 2px solid #e7e7e7;
    color: #120d57;
    border-radius: 5px;
    font-size: .5rem;
    font-weight: 600;
    height: 25px;

}
button i{
    padding: 5px;
}
.card-row{
    margin: 10px;
    
}
.card-1, .card-2, .card-3, .card-4{
    background-color:#ffe2e5;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}
.card-2{
    background-color: #fff4de;
}
.card-3{
    background-color: #dcfce7;
}
.card-4{
    background-color: #f3e8ff;
}
.card-heading{
    margin: 10px 0;
}
.bi-bar-chart, .bi-card-list, .bi-tag, .bi-person-plus{
    color: #fff;
    background-color: #fa6284;
    border-radius: 50%;
    padding: 5px;
    font-size: .8rem;
}
.bi-card-list{
    background-color: #ff947a;
}
.bi-tag{
    background-color: #3cd856;
}
.bi-person-plus{
    background-color: #bf83ff;
}

.card-label{
    font-size: .7rem;
    display: block;
}
.market-value{
    color: blue;
    font-size: .6rem;
}
.visitor-insight img {
    width: 100%;
    margin-top: 10px;
}
.revenue-col{
    background-color: #fff;
    box-shadow: 2px 2px 4px #e9ecef;
    border-radius:20px
}
.revenue img {
    width: 100%;
    margin-top: 10px;
}
.row-revenue{
    margin: 10px 0;
}
.product{
    font-size: .8rem;
    color:#120d57;
    padding: 20px 0;
}
.product h4{
    padding: 10px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color:#adabab;
  }
  
  td, th {
    text-align: left;
    padding: 4px;
  }
  td{
      font-size:.69rem;
      color: #120d57;
  }
  th{
      font-weight: 500;
  }
  tr{
      border-bottom:1px solid #d0d2d5;
      height: 35px;
  }
  .progress{
      width: 99%;
      height: 6px;
  }
  progress[value] {
    -webkit-appearance: none;
    appearance: none;
  }
  progress[value]::-webkit-progress-bar, progress[value]::-moz-progress-bar {
    background-color: rgb(209, 98, 98);
    border-radius: 2px;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset; */
  }
  progress[value]::-webkit-progress-value {
      background-color: red;
  }
  .ptg-value{
    border: 1px solid blue;
    box-shadow: 2px 2px 3px rgb(215, 213, 213);
    border-radius: 3px;
    padding: 2px;
    font-size: .6rem;
    text-align: center;
    background-color: #f9fafb;
  }
