*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    margin: 0;
    padding: 0;
}
nav{
    position: fixed;
    width: 10%;
    left: 0;
    top:0;
    padding: 0px 10px 0px 10px;
    border-right: 1px solid lightgrey;
    
} 
.main-logo{
    display: inline-block;
}
ul a{
    top: 15px;
    position: relative;
    float: left;
    left: 15px;   
}
.clearfix::before,.clearfix::after{
   content: '';
   display: block;
   clear: both;
}

.nav-logo{
    width: 15%;
    padding: 15px 0 10px 0px;
    float: left;
    
}
input{
    width: 90%;
    height: 30px;
    background-color: #1d9bf0;
    border: none;
    border-radius: 20px;
    color:white;
    margin: 10px 0px 0px 0px;
}

.content-container{
    position: relative;
    width: 85%;
    padding: 0px 0px 0px 15px;
    left: 13%;
    border: 1px solid black;
}
.header-article-container{
    position: relative;
    width: 70%;
    float: left;
}
aside{
    position: relative;
    width: 30%;
    float: left;
    }
    h2{
       display: inline-block;
       margin-bottom: 10px;
    }
 a .clean{
    float: right;
    width: 25px;
    padding: 3px;
}
.header-section{
    border-bottom: 1px solid #d3d3d3;
}
 .span-container{
    float: left;
    width: 3%;
    background-color: darkgreen;
    border-radius: 50px;
    color: white;
    text-align: center;
    font-size: large;

}
  label{
   font-size: large;
   margin: 10px;
  }
  .section-icon{
      position: relative;
      width: 100%;
  }
  .icon{
      display: inline-block;
      padding: 5px;
      width: 25px;
      margin-top: 10px;
  }
  .tweet-button{
      float:right;
      width: 13%;
  }
   .icon-img{
      width: 100%;
  } 
 
  .tweet-container{
      color: blue;
      text-align: center;
      font-size: large;
      padding: 10px;
  }
 .main-content-container{
     position: relative;
     width: 100%;
     border: 1px solid #d3d3d3;
     display: inline-block;
 }
 .profile{
position: relative;
float: left;
border: 1px solid #d3d3d3;
width: 5%;
 }
 .profile img{
     width: 100%;
    
 }
 .content-article{
    position: relative;
    float: left;
    width: 94%;
    top: 20px;
   
 }
 .official-container{
    padding: 7px 0px 0px 0px;

 }
 h3{
     float: left;
 }
 .official-icon{
     float: left;
     width: 3%;
     padding: 2px;
 }
 .more{
     float:right;
 }
 .official-section{
    padding: 10px;
 }
 .official-section-icon{
     width: 70%;
     padding:10px;
 }
 .section-img{
     width: 100%;
     border-radius: 30px;
 }
 /* span{
     float: left;
     padding: 2px;
 } */
 .comement-container{
     width: 100%;
     display: inline-block;
 }
 .comment-icon{
     float: left;
     width: 15%;
    padding: 10px;
    margin-left: 50px;
 }
 .comment-span{
     width: 20%;
     float: left;
 }
.count-span{
    float: left;
    width: 50%;
    padding-left: 10px;
}
.search-container{
    width: 100%;
    border-radius: 30px;
    padding: 10px;
}
.search-container input{
    color: #74838d;
    background-color: #eff3f4;
}

.aside-container{
    display: inline-block;
    width: 100%;
    margin-bottom: 25px;
}
.aside-span{
    width: 80%;
    float: left;
 
}
p{
    display: inline;
}
.aside-image-span{
    width: 20%;
    float: left;
    margin-top: 15%;
}
.vote-img{
    width: 100%;
    border-radius: 10%;
}
