*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.clearfix::before, .clearfix::after {
    content: "";
    display: block;
    clear: both;
}
main{
    width: 100%;
    height: 588px;
    background-image: url("img/aeroplane.png");
    background-size: 100%;
  
}
/* div{
    display: inline-block;
  background-color:black;
} */
.logo-container{
    display: block;
    padding: 5px;
    color: white;
    float: right;
    width: 3%;
    
}

.main-logo{
    
       float: left;
       padding: 5px;
    }
    .main-logo img{
        width: 80px;
    }
.web-logo{
    width: 100px;
}
.social-icons-container{
    background-color: black;
}
.social-icons-container a{
    display: block;
    padding: 10px;
    float:right;

}
.social-icons-container a i{
    color: white;
    width:24px;
}
nav a{
    display: inline-block;
    padding: 10px;
    color: white;
    
}
.navigation-container{
    position: relative;
    margin-left: auto;
    float: right;
}
section{
    position: absolute;
    width: 30%;
    padding: auto;
    left: 10%;
    top: 25%;
    color: white;
}
p{
    font-size: large;
    padding: 10px;
}
article{
    position: absolute;
    float: right;
    right: 5%;
    top: 25%;
    width: 35%;
    border: 1px solid #41535a;
    opacity: 0.6;
    background-color: #41535a;
    color: #d7e4e7;
}
h3{
    padding: 10px;
}
.radio-container span{
    margin-left: 25px;
    padding: 5px;
}
.input-container{
    width: 70%;
    margin-top: 10px;
    margin-left: 15%;
}
.inputValue{
    padding: 5px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    width: 90%;
}
.button-Container{
    width: 80%;
    margin-left: 10%;
}
.button-Container button{
    margin: 5px;
    padding: 5px;
    border: none;
    border-radius: 10px;
    margin-left: 20px;
   }

button:hover{
    background-color: black;
    color: white;
}
i:hover{
    background-color: black;
    color: white;
}
/* span{
    margin: 7px;
    
} */
.popup-container{
   
    width: 20%;
    margin-left: 68%;
    margin-top: 25%;
    border: 1px solid #41535a;
    opacity: 0.6;
    background-color: #41535a;
    color: #d7e4e7;
    /* display: none; */
}
.submit-button{
    margin-left: 40%;
    width: 25%;
    border-radius: 10px;
}