*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    padding: 1rem;
    font-family: 'Inter', sans-serif;
}
.row,.col{
    padding-right: 0;
    padding-left: 0;
}
.nav-item{
    padding: .19rem;
}
.text-align{
text-align: right;
}
a{
    text-decoration: none;
}
.tas{
    align-self: center;
}
.fs-unit{
    font-size: .65rem;
    margin-bottom: 10px;
}
.drop-padding{
padding: 0.375rem 0.59rem;;
}

.depart{
    font-size: .73rem;
}
.depart:hover{
    color: white;
}
.bg-color{
    background-color: rgb(238, 237, 240);
}
.nav-link{
    padding: 0;
}
.text-color{
    color: #c1c1c5;
    font-weight: 500;
}
.text-black{
    color: #c0bfc4;
    font-weight: 500;
}
.text-weight{
    font-weight: 500;
}
.input-search{
    width: 100%;
    border: none;
    background-color: transparent;
}
.input-search:focus{
   outline:none;
}
.search-color{
    position: relative;
    top: 10px;
    right: 5px;
    color: rgba(115, 112, 112,0.3);
}
.bg-active{
    background-color: #eaf3fe;
}
li:hover{
    background-color: #eaf3fe;
    cursor: pointer;
}
li:hover  i{
    color: #2d6edf;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #2d6edf;
}
.btn-bg{
    position: relative;
    top: 6px;
    font-size: 13px;
}   

.nav-item{
    display: flex;
    gap: 2%;
}
.nav-item a{
    font-size: 9px;    
}
.nav-item i{
    color: rgb(190, 187, 187);
    margin-top: auto;
    display: block;
}
.fs-value{
    font-size: 13px;
}
.mt{
    margin-top: -7px;
}
.tr{
    text-align: right;
}
.nav-list{
    color: rgba(19, 18, 18, 0.9);
    font-size: .7rem;
}
.nav-list-a{
    display: block;
}
.nav-list-items, cellphone-list{
    color: rgba(0, 0, 0, 0.302);
    font-size: .6rem;
}
.cellphone-list{
    list-style-type: none;
    font-size: .68rem;
    color: rgba(0, 0, 0, 0.7);
}
.btn-expand{
    padding: .1rem .5rem;
    background-color: #eaf3fe;
    font-size: .8rem;
    font-weight: 600;
}

.filter, .filter-bs{
    width: 100%;
    font-size: .7rem;
    border:1px solid rgb(238, 237, 240);
    box-shadow: 2px 2px rgba(238, 237, 240, 0.3);
}
.filter-bs{
    box-shadow:0;
    border:none;
    font-weight:500;
}
.check-label-fs{
    font-size: .8rem;
}
.right-section{
    border:1px solid rgb(238, 237, 240);
    box-shadow: 2px 2px rgba(238, 237, 240, 0.3);
}
.right-section-nav a{
    font-size: .9rem;
    color: #484849;
    border-radius: 10px;
   
}
.right-section-nav {
    padding:  0 .5rem;
    margin-right: .5rem;
}
.nav-sort{
    position: absolute;
    left: 10px;
    top:-7px;
    background: #fff;
    font-size: .5rem;
    color: #aea9a9;
}
.txt-color {
    color: rgb(190, 187, 187);
}
.show-all{
    background-color: #eaf3fe;
    font-size: .7rem;
    color: black;
    padding: 5px;
    align-self: center;
}
.auction{
    font-size: .7rem;
    padding: 5px;
    border:1px solid rgb(238, 237, 240);
    box-shadow: 2px 2px rgba(238, 237, 240, 0.3);
    align-self: center;
}
.span-list{
    background-color: #eaf3fe;
    color: black;
    padding: 0 10px;
}
.span-list i{
    margin-top: 6px;
}
.span-list-2 i{
    margin-top: 6px;
}
.span-list-2{
    border:1px solid rgb(238, 237, 240);
    box-shadow: 2px 2px rgba(238, 237, 240, 0.3);
    padding: 0 10px;
}
.nav-link,.active{
    color: black;
}
.txt-color-bg{
    background-color: rgb(234, 233, 236);
    color: rgb(185, 185, 187);
}
.navbar-expand .navbar-nav {
    flex-wrap: wrap;
}
.items-container{
    border:1px solid rgb(238, 237, 240);
    box-shadow: 2px 2px rgba(238, 237, 240, 0.3);
}
.gv{
    padding-top: calc(var(--bs-gutter-x) * .5);
    padding-bottom: calc(var(--bs-gutter-x) * .5);
}
.img-para{
    font-size: .7rem;
    color: #525253;
    margin-bottom: 0;
}
h5{
    font-weight: 600;
    margin-bottom: 0;
}
.img-lbl{
    color: #c1c1c1;
    font-size: .6rem;
    line-height: 1.2;
    padding: .15rem;
}
.stars-row{
    display: flex;
    align-items: center;
}
.stars-color{
    color: yellow;
    font-size: .5rem;
}
.stars-color-black{
    color: black;
    font-size: .5rem;
}
.stars-span{
    padding: 1px;
    margin-left: 5px;
}
.stars-lbl{
    font-size: .5rem;
}
.btn-watch{
    padding: 0.1rem 0.4rem;
    font-size: .6rem;
    align-self: center;
    box-shadow: 2px 2px rgba(238, 237, 240, 0.3);
}
.drop-list{
    font-size: .6rem;
}
.dropdown-toggle-l::after{
    position: absolute;
    left: 8px;
    top: 42%;
    border-top: 0.4em solid;
    border-right: 0.4em solid #0000;
    border-bottom: 0;
    border-left: 0.4em solid #0000;
}
.btn-padding{
    padding-left: 1.75rem;
    font-size: .7rem;
}
.dropdown-item{
    font-size: .8rem;
}
.nav-list-1{
    display: block;
}
.checkbox{
    vertical-align: middle;
}
/* Accordian */
.accordion-body{
    padding: 0rem 2rem;
    font-size: .65rem;
    display: block;
    width: 213px;
    line-height: 2;
}
.accordion-item:first-of-type .accordion-button {
    font-size: .7rem;
    border-top-left-radius: 0; 
    border-top-right-radius: 0;
    padding: 5px 30px;
}
.accordion-l-button::after{
    position: absolute;
    width: .7rem;
    height: .7rem;
    background-size: .7rem;
    left: 6px;
   
}
.accordion-r-button::after{
    width: .7rem;
    height: .7rem;
    background-size: .7rem;
}
.accordion-button:not(.collapsed) {
    color: black;
    background-color: #fff;
    box-shadow: none;
}
.accordion-item{
    border: none;
    box-shadow:0;
}
.accordion-button:focus{
    border: none;
}
.checkbox{
    vertical-align: middle;
}
@media (min-width:992px) {
    .fs-unit{
        margin-bottom: 0;
    }
    .nav-item{
        display: block;
        text-align: center;
    }
    
    .mt{
        margin-top: 0;
    }
    .filter, .filter-bs{
        width: 40%;
    }
    .nav-right{
        display: flex;
        justify-content: end;
    }
}
